*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-justify: inter-word;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 34% 33% 33%;
  grid-template-rows: auto auto auto ;
}
.grid-item {

  padding: 15px;
  border-style: solid;
 }
.grid-item.logo{
  background-color:#b4b3b3 ;
}
.grid-item.logo.image{

  padding: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
.grid-item.title {
  background-color:#d9f788 ;
  grid-column-start: 2;
  grid-column-end: 4;
 } 
 .grid-item.title.h1{
   font-size: 1em;
 }
 .grid-item.title.h2{
  font-size: 0.5em;
}
.grid-item.training {
  font-size: 1em;
  background-color:#e99ccb ;
 } 
 .grid-item.training.title{
  text-align: center;
 } 
 .grid-item.training.select{
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  border: none;
 
 } 

.grid-item.gender {
 background-color:#FAD0AB ;
} 
.grid-item.gender.title {
  font-size: 1em;
  align-content: center;
 } 
 .grid-item.gender.age{
  background-color:white ;
  margin: 1em;
  margin-top: 3em;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  border-width: 2px;
 }

.grid-item.mail {
  background-color: #A4DAFC;

}
.grid-item.mail.title {
  font-size: 1em;
  margin-bottom: 10px;
}
.grid-item.list {
  background-color: #92f792;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item.list.title{
  font-size: 1em;
}
.grid-item.video {
  background-color: #ff8adc;
  grid-column-start: 3;
  grid-column-end: 4;
}
.grid-item.video.title{
  font-size: 1em;
}



.title {
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
}
.subtitle {
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}

ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 10px;
}

li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
  text-align: justify;
}
#pdfButton{
  background-color: #885DBD; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
}
